[submodule "vendor/jansson"]
	path = vendor/jansson
	url = https://github.com/akheron/jansson
[submodule "vendor/foobar2000_sdk"]
	path = vendor/foobar2000_sdk
	url = https://github.com/medvid/foobar2000_sdk
